<header class="fl w-100 pa3 ph5-ns mb4 bg-white">
    <h1 class="mt5 lh-title tc">
            <a class="link sans-serif f2-ns fw4 ttu tracked near-black" href="/">Paul McGrath</a>
    </h1>
    
    <nav class="ph3 ph5-ns pv1 mb4">
            <div class="nowrap overflow-x-auto f5 fw4 mt0 tc sans-serif ttu tracked">
                <a class="link db dim black-70 dib mr3" href="/" alt="Writing">Writing</a>
                <a class="link db dim black-70 dib mr3 uc" href="#" alt="Projects">Projects</a>
                <a class="link db dim black-70 dib mr3" href="/about" alt="About">About</a>
                <a class="link db dim black-70 dib" href="/contact" alt="Contact">Contact</a>
            </div>
    </nav>
    
    <hr class="mw4 ba bw1 b--near-white">
</header>