<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name=author content=" TBC ">
    <meta name=description content=" TBC ">

    <!-- Open Graph data -->
    <meta property="og:title" content=" TBC " />
    <meta property="og:description" content=" TBC " />
    <meta property="og:url" content="https://paulmcgrath.me" />
    <meta property="og:image" content="http://example.com/image.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content=" TBC " />
    <!-- / Open Graph data -->

    <!-- Twitter data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content=" TBC ">
    <!-- / Twitter data -->

    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>

  </head>
  <body>
