{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="mb5 fl w-100 pv4 ph3 mb5 flex flex-column items-center">

    <div class="mb4">
        <img style="height: 12rem; width: 12rem;" class="ba bw2 b--near-white br-100 pa1" src="/assets/images/headshot.jpg" alt="">
    </div>

    <div class="tc">
        <div class="post sans-serif mw7 lh-title">
            <h1 class="f2-ns fw5 article-title near-black"> Hi, I'm Paul.</h1>
        </div>
    </div>

    <div class="sans-serif mw6 ph4-ns f4 tc near-black">
        {{ .Content }}
    </div>

</main>

{{ partial "footer.html" . }}