{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="mb5 fl w-100 pv2 ph3 flex flex-column items-center">

        <div class="tc">
            <div class="post sans-serif fw6 mw7 lh-title">
                <h1 class="f2 f2-m f2-l article-title black-70">Get in touch.</h1>
            </div>
        </div>

        <div class="sans-serif mw7 f4 tl">
            {{ .Content }}
        </div>

        <form name="contact" netlify>
                <p>
                  <label>Your Name: <input type="text" name="name"></label>   
                </p>
                <p>
                  <label>Your Email: <input type="email" name="email"></label>
                </p>
                <p>
                  <label>Message: <textarea name="message"></textarea></label>
                </p>
                <p>
                  <button type="submit">Send</button>
                </p>
              </form>


</main>

{{ partial "footer.html" . }}