{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="mb6 fl ph3 w-100 sans-serif black-70">

    <div class="sans-serif fw6 tc lh-title">
        <h1 class="f2 f2-m f2-l black-70">Get in touch.</h1>
    </div>

    <form name="contact" netlify class="measure center">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <div class="mt3">
            <label class="db lh-copy f6 mb1 fw6 ttu tracked" for="name">Name</label>
            <input class="pa2 input-reset ba bw1 b--black-70 br2 bg-transparent w-100" type="text" name="name"  id="fullname">
        </div>
        <div class="mv3">
            <label class="db fw6 lh-copy f6 mb1 fw6 ttu tracked" for="password">Email</label>
            <input class="pa2 input-reset ba bw1 b--black-70 br2 bg-transparent w-100" type="email" name="email"  id="email">
        </div>
        <div class="mv3">
            <label class="db fw6 lh-copy f6 mb1 fw6 ttu tracked" for="message">Message</label>
            <textarea class="pa2 input-reset ba bw1 b--black-70 br2 bg-transparent w-100" type="text" name="message"  id="email"></textarea>
        </div>
        </fieldset>
        <div class="">
            <input class="ph4 pv2 input-reset ba bw1 b--black-70 br2 bg-transparent dim pointer f6 fw4 black-70 ttu tracked dib" type="submit" value="send">
        </div>
    </form>
</main>

{{ partial "footer.html" . }}