@import "imports/tachyons.min.css";

img {
    border-radius: 0.2rem;
}

.article-title {
    margin: 0.2em 0;
}

.main-links a {
    color: #111111;
    font-weight: 700; 
}

.main-links a:focus, a:hover {
    opacity: .5;
}

.uc:hover {
    text-decoration: line-through;
}