@import "imports/tachyons.min.css";

img {
    border-radius: 0.2rem;
}

.article-title {
    margin: 0.2em 0;
}

.link-override a {
    color: #111111;
    font-weight: 700; 
}

.link-override a:focus, a:hover {
    opacity: .5;
}